
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url('main_bg')%>);">
    <div class="logo-big">
      <%= image_tag("banner", options = { class: "img-tag-banner"}) %>
    </div>
    <div class="container search-div">
  <!--     <h1 class="rw-banner-text-size"><strong><p>Rent out suited boat for your adventure</p></strong> </h1>
   -->    <%= simple_form_for("", method: :get, url: boats_path) do |f| %>
          <%= f.input :query, label: false, :input_html => { :class => 'rw-search_field' }, placeholder: 'Search your town to find the perfect boat nearby...' %>
          <%= f.submit :style => "display: none;" %>
          <% end %>
    </div>
  </div>

