<% booking = element %>

  <div class="first-layer-booking-card">
    <div class="second-layer-booking-card-left">
      <% images = [] %>
      <% boat = Boat.find(booking.boat_id) %>
      <% boat.photos.each do |photo| %>
        <% images << cloudinary_url(photo.key) %>
       <% end %>
      <%= render 'shared/image_carousel', image_urls: images %>
    </div>
    <div class=second-layer-booking-card-right>
      <div class="booking-upper-line">
        <% user = User.find(booking.user_id) %>
        <h4 class="rw-text-color-dark rw-light-text"><%= "#{user.first_name} #{user.last_name}" %></h4>
        <div class="booking-upper-line">

          <%= button_to([:user, booking], method: :patch, params: { booking: { status: 'accepted' } }, class: "btn-clean mr-2") do %>
          <i class="fas fa-check-square icon-link icon-link-booking"></i>

          <%= button_to([:user, booking], method: :patch, params: { booking: { status: 'rejected' } }, class: "btn-clean") do %>
          <i class="fas fa-window-close icon-link icon-link-booking"></i>
          <% end %>


          <% end %>
        </div>
      </div>
      <div>
        <% sd = booking.start_date %>
        <% ed = booking.end_date %>
          <p class="rw-text-color-dark rw-light-text"><%= "#{sd.day}.#{sd.month} - #{ed.day}.#{ed.month}.#{ed.year}, for the #{Boat.find(booking.boat_id).name }" %></p>
      </div>
      <p class="rw-text-color-dark rw-medium-text booking-message"><i class="fas fa-comment-dots rw-text-color-light mr-2"></i><%= booking.message %></p>
      <!-- <div class="third-layer-booking-card-bottom">
        <h6 class="rw-bold-text p-1 rw-text-color-medium">$ <%= Boat.find(booking.boat_id).price_per_day  %></h6>

        <div class="confirmed-booking rounded rw-bg-dark">
          <p class="rw-text-color-light rw-medium-text mr-1">confirmed</p>
          <i class="fas fa-check rw-text-color-light mt-1"></i>
        </div>
      </div> -->
    </div>
  </div>


