<% booking = element %>
<% @own_booking = nil %>
<% if current_user.id == booking.user_id %>
  <% @own_booking = true %>
<% else %>
  <% @own_booking = false %>
<% end %>

  <div class="first-layer-booking-card">
    <div class="second-layer-booking-card-left">
      <% images = [] %>
      <% boat = Boat.find(booking.boat_id) %>
      <% boat.photos.each do |photo| %>
        <% images << cloudinary_url(photo.key) %>
       <% end %>
      <%= render 'shared/image_carousel', image_urls: images %>
    </div>
    <div class=second-layer-booking-card-right>
      <div class="booking-upper-line">

        <% user = User.find(booking.user_id) %>
        <% if @own_booking == true %>
            <h4 class="rw-text-color-dark rw-light-text"><%= "#{Boat.find(booking.boat_id).name}" %></h4>
        <% else %>
            <h4 class="rw-text-color-dark rw-light-text"><%= "#{user.first_name} #{user.last_name}" %></h4>
        <% end %>

        <div class="booking-upper-line">
          <% if booking.status == "pending" && @own_booking == false %>
            <%= button_to([:user, booking], method: :patch, params: { booking: { status: 'accepted' } }, class: "btn-clean mr-2", data: {confirm: "Are you sure you want to accept the booking request?" }) do %>
              <i class="fas fa-check-square icon-link icon-link-booking"></i>
            <% end %>
            <%= button_to([:user, booking], method: :patch, params: { booking: { status: 'cancelled' } }, class: "btn-clean", data: {confirm: "Are you sure you want to cancel the booking request?" }) do %>
              <i class="fas fa-window-close icon-link icon-link-booking"></i>
            <% end %>
          <% elsif booking.status == "pending" && @own_booking == true %>
            <p class="pending-booking rw-light-text">pending...</p>
          <% elsif booking.status == "accepted" %>
            <p class="accepted-booking rw-light-text">accepted</p>
          <% elsif booking.status == "cancelled" %>
            <p class="cancelled-booking rw-light-text">cancelled</p>
          <% end %>
        </div>


      </div>
      <div>
        <% sd = booking.start_date %>
        <% ed = booking.end_date %>
          <p class="rw-text-color-dark rw-light-text"><%= "#{sd.day}.#{sd.month} - #{ed.day}.#{ed.month}.#{ed.year}, for the #{Boat.find(booking.boat_id).name }" %></p>
      </div>
      <% if @own_booking == false %>
        <p class="rw-text-color-dark rw-medium-text booking-message"><i class="fas fa-comment-dots rw-text-color-light mr-2"></i><%= booking.message %></p>
      <% end %>
    </div>
  </div>


