<%= render "shared/title_wave", element: "Register a new boat with us" %>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-9 col-lg-9">

    <div class="create-form mt-3">
    <%= simple_form_for([:user, @boat]) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price_per_day %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.simple_fields_for :address do |a| %>
      <%=   a.input :street_address, input_html: { class: 'street_address'} %>
      <%=   a.input :city, input_html: { class: 'city_address'} %>
      <%=   a.input :country, input_html: { class: 'country_address' } %>
      <% end %>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
  </div>
</div>



