<div class="container mb-5 ">
  <div class="row justify-content-center">
    <div class="col-9 col-lg-9">
      <h2 class="mt-5">Pictures</h2>
      <% images = [] %>
      <% @boat.photos.each do |photo| %>
        <% images << cloudinary_url(photo.key) %>
      <% end %>
      <div style="height:400px; width: 100%;" class="my-2">
        <%= render 'shared/image_carousel', image_urls: images %>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <% image_url = @boat.photos.attached? ? cloudinary_url(@boat.photos[0].key) : "" %>
        <div class="d-flex justify-content-center">
          <% @boat.photos.each do |photo| %>
            <%= image_tag(cloudinary_url(photo.key), size: "100x100") %>
          <% end %>
        </div>
        <%= simple_form_for([:user, @boat]) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price_per_day %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.simple_fields_for :address do |a| %>
            <%=   a.input :street_address, input_html: { class: 'street_address'} %>
            <%=   a.input :city, input_html: { class: 'city_address'} %>
            <%=   a.input :country, input_html: { class: 'country_address' } %>
          <% end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
