<div class="container">
  <div class="row mt-5">
    <%= simple_form_for("", method: :get, url: boats_path) do |f| %>
    <%= f.input :query, label: false, :input_html => { :class => 'search-form-index' }, placeholder: 'Search..' %>
    <%= f.submit :style => "display: none;" %>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <!-- map and filters here      -->
      <div class="map-div">
        <%= render 'shared/map' %>
      </div>
    </div>
    <div class="col-12 col-lg-6 order-1 order-lg-2">
      <div class="row">
        <!-- for each boat       -->
        <% @boats.each do |boat|  %>

        <div class="col-12">
          <%= link_to "", boat_path(boat), class: "stretched-link" %>
          <!-- boat card here      -->
          <% if boat.photos.attached? %>
          <% image_url = cloudinary_url(boat.photos[0].key) %>
          <% else %>
          <% image_url = 'https://source.unsplash.com/200x150/?sailboat' %>
          <% end %>
          <div class="boat-card-first-layer">
            <%= image_tag(image_url, class: 'boat-card-left-layer-img') %>
            <div class="boat-card-second-layer-right">
              <div class="boat-card-third-layer-top">
                <div>
                  <h4 class="rw-text-color-dark rw-text-bold"><%=  boat.name %> </h4>
                  <p class="rw-text-color-medium rw-text-light"> This is a lovely boat. <%= truncate(boat.description, :length => 80)  %></p>
                </div>
                <i class="far fa-heart heart"></i>
              </div>
              <div class="boat-card-third-layer-bottom">
                <div class="boat-card-fourth-layer-review">
                  <div class="star rw-text-color-dark">
                    <i class="fas fa-star rw-text-color-dark star-icon "></i>
                    <p class="rw-text-color-dark rw-text-medium ">  <%= ((rand() * 5).round(2).to_s) %></p>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>

