<%= render "shared/title_wave", element: "#{@boat.name}" %>

<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <!-- Insert boat image carolsel here -->
        <% if !@boat.photos[0].nil? %>
          <% images = [] %>
          <% @boat.photos.each do |photo| %>
            <% images << cloudinary_url(photo.key) %>
          <% end %>
          <div style="width: 100%; height: 250px">
            <!-- Render the Image Carousel-->
            <%= render "shared/image_carousel", image_urls: images %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <h5 class="pt-3">location...</h5>
        <div class="boat-map-show">
          <%= render "shared/map", markers: @markers %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col ml-3">
          <h2><%= @boat.name %></h2>
          <p><%= @boat.description %></p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col ml-3">
          <!-- insert booking form here -->
          <h5>Want to book? Submit a request below...</h5>
          <div class="booking-request-form">
            <% @booking = Booking.new %>
            <%= simple_form_for([@boat,@booking], :html=> { class: '' }) do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.submit "Send booking request", class: 'btn btn-primary'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
