<%= render "shared/title_wave", element: "#{@boat.name}" %>
<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <!-- Insert boat image carolsel here -->
        <% if !@boat.photos[0].nil? %>
          <% images = [] %>
          <% @boat.photos.each do |photo| %>
            <% images << cloudinary_url(photo.key) %>
          <% end %>
          <div style="width: 100%; height: 250px">
            <!-- Render the Image Carousel-->
            <%= render "shared/image_carousel", image_urls: images %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <h5 class="pt-3">location...</h5>
        <div class="boat-map-show">
          <%= render "shared/map", markers: @markers %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col ml-3">
          <div class="show-boat-title">
            <h2><%= @boat.name %></h2>
            <h3 class="boat-price-lighter-weight">$ <span id="price-per-day"><%= @boat.price_per_day %></span><small> / day</small></h3>
          </div>
          <p><%= @boat.description %></p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col ml-3">
          <!-- insert booking form here -->
          <h5>Want to book? Submit a request below...</h5>
          <div class="booking-request-form">
            <% @booking = Booking.new %>
            <%= simple_form_for([@boat,@booking], :html=> { class: '' }) do |f| %>
              <%= f.input :start_date, as: :string, required: true, wrapper: false, label: false, placeholder: "Check in date", input_html: {class: "datepicker", id: "date-range"} %>
              <%= f.input :message, as: :text, placeholder: "Include a message to the boat owner so they can get to know you..." %>
              <%= f.submit "Send booking request", class: 'btn btn-primary'%>
            <% end %>
          </div>
          <div class="live-price">
            <p>Total <span class="total-price-lg">$</span><span class="total-price-lg" id="live-price-calc">0</span> for <span id="live-days-calc">0</span> day<span id="plural-days">s</span></p>
            <small>Terms and conditions apply.</small>
            <small>Don't drink and sail.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
